
body
{
    overflow-x:hidden;
    margin:0;
    background-image: url("FrameGlavMenu.png");
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width: 768px)
{
    nav
    {
        animation: nav 1s;
        position:fixed ;
        display: grid;
        grid-template-columns: 12.5vw 25vw 25vw 25vw 12.5vw;
        width:100%;
        align-items: center;
        height:10vh;
        background: #453C41;

    }
    .Nav_Item1,
    .Nav_Item2,
    .Nav_Item3
    {
        animation: nav 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        font-family: sans-serif;
        text-align: center;
        font-size:2vw;
        text-decoration: none;
        color:white;
    }
    .Nav_Selection
    {
        display: flex;
        animation: nav 1s;
        font-family: "Yu Gothic UI Light";
        width:12vw;
        height:4.5vh;
        justify-content: center;
        align-items: center;
        background: #D4DBE2;
        border-radius: 5vw;

    }
    .Nav_Selection>a
    {
        font-size: 1vw;
        text-decoration: none;
        color: black;
    }
}
@media(max-width: 426px)
{
    nav
    {
        animation: nav 1s;
        position:fixed ;
        display: grid;
        grid-template-columns: 20vw 26vw 26vw 26vw ;
        width:100%;
        align-items: center;
        height:6.5vh;
        background: #453C41;

    }
    .Nav_Item1,
    .Nav_Item2,
    .Nav_Item3
    {
        animation: nav 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.5vh;
        font-family: sans-serif;
        text-align: center;
        font-size:2.5vw;
        text-decoration: none;
        color:white;

    }

    .Nav_Selection
    {
        display: flex;
        animation: nav 1s;
        font-family: "Yu Gothic UI Light";
        width:20vw;
        height:3vh;
        justify-content: center;
        align-items: center;
        background: #D4DBE2;
        border-radius: 5vw;
    }
    .Nav_Selection>a
    {
        font-size: 2vw;
        text-decoration: none;
        color: black;
    }
}
@keyframes nav
{
    from{margin-top:-10vw;}
}
@keyframes text
{
    from{margin-left:-10%;color: #1D0F0F;}
}
.Nav_Item2:active,
.Nav_Item3:active
{
    background: #7B7C81;
}
.Nav_Item1
{
    background: #7B7C81;
}
.Select_Start
{
    display: none;
}
footer
{
    display: flex;
    align-items:center;
    background: #453C41;
    color:white;
}
footer>ul
{   font-size: 1.5vw;
    font-family: sans-serif;
    list-style-type: none;
}

.greeting
{
    animation: text 2s;
    justify-content: center;
    padding-top:17vh;
    height:10vh;
    font-size: 4.5vw;
    display: flex;
    color:white;
    margin-bottom: 5%;
    font-family: "Yu Gothic UI Light";
}
.Question1
{
    animation: text 2s;
    margin-left: 4%;
    margin-bottom: 2%;
    font-size:4vw;
    color:white;
    width:60%;
    font-family: "Yu Gothic UI Light";
}
.Question2
{
    animation: text 2s;
    text-align: center;
    font-size: 4vw;
    color: #8c00ff;
    font-family: "Yu Gothic UI Light";
    margin-left: 4%;
    width:60%;
    margin-bottom:55vw;
}
.Img
{
  float: right;
    width:40%;
}
.Img>img
{
    width:100%;
}
.Text1
{
    animation: text 2s;
    color:#8c00ff;
    font-size: 5vw;
    font-family: "Yu Gothic UI Light";
    display: flex;
    justify-content: center;
}
.Text2
{
    animation: text 2s;
    font-family: "Yu Gothic UI Light";
    color:white;
    font-size: 4.5vw;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-bottom: 40%;
}
.Text3
{
    animation: text 2s;
    color:white;
    font-size: 4.5vw;
    font-family: "Yu Gothic UI Light";
    width:50%;
    margin-left: 25%;
    margin-bottom: 20%;
}
